## Act and Sections Exploration
This notebook explores the `act_sections.csv` data file and combines it with `cases/section_key.csv` and `cases/act_key.csv`.

In [2]:
import pandas as pd

In [2]:
pd.set_option('display.max_rows', 50)

In [ ]:
pd.reset_option('all')

### Setup
We set up the `pd.dataFrame` and other global variables.

Due to the large size of the data, we chunk the file and process each chunk independently and combine results.

In [3]:
CHUNK_SIZE = 1_000_000

In [4]:
case_law_df = pd.read_csv('../data/acts_sections.csv',
                          chunksize=CHUNK_SIZE,
                          iterator=True,
                          low_memory=False)
sections_df = pd.read_csv('../data/keys/section_key.csv')
acts_df = pd.read_csv('../data/keys/act_key.csv')

### Exploration and Initial Analysis

In [36]:
sections_df.sort_values(by='count', ascending=False)

                                                 section_s    count    section
0                                                      NaN  4834909        NaN
213800                                                 138  3939583   213800.0
1182576                                                506  2315311  1182576.0
647330                                                 279  1527325   647330.0
965693                                                 379  1485923   965693.0
...                                                    ...      ...        ...
847412   324r/w34IPCalteredintosec.302,201r/w34IPCandal...        1   847412.0
847411                                 324r/w34IPCSec.3-1x        1   847411.0
847410                                 324r/w34IPCAND3-I-X        1   847410.0
847409                                  324r/w34IPC3ixscst        1   847409.0
1056959  419.420.467.468.471.272.273.and60/63Exiseact,3...        1  1056959.0

[2113919 rows x 3 columns]

In [82]:
acts_df2 = acts_df.sort_values(by='count', ascending=False)

In [104]:
# the percentages of total value
total_act_count = acts_df2['count'].sum()  # 76765611.0

In [84]:
acts_df2['percentages'] = acts_df2['count'].div(total_act_count).mul(100)

In [85]:
acts_df2.head()

                            act_s       count      act  percentages
17353       The Indian Penal Code  20900000.0  17353.0    27.225733
4759   Code of Criminal Procedure   8630668.0   4759.0    11.242883
10581          Motor Vehicles Act   3124278.0  10581.0     4.069893
4747      Code of Civil Procedure   2679956.0   4747.0     3.491089
4650         Civil Procedure Code   1746442.0   4650.0     2.275032

### Mutate DataFrame
Here, I merge `case_law_df` with `sections_df` and `acts_df` to convert the `act` and `section` column into their string counterparts.

I believe this makes the data easier to read and understand, I will keep count values by renaming the `count` column.

In [101]:
acts_df_cols = list(acts_df.columns)
acts_df_cols[1] = 'act_count'
acts_df.columns = acts_df_cols

In [102]:
sections_df_cols = list(sections_df.columns)
sections_df_cols[1] = 'section_count'
sections_df.columns = sections_df_cols

In [103]:
chunk = 1
for df in case_law_df:
    # merge with acts
    df_acts = pd.merge(df, acts_df, how='inner', on=['act'])
    df_acts.drop(columns=['act'], inplace=True)

    # merge with sections
    df_acts_sections = pd.merge(df_acts, sections_df, how='inner', on=['section'])
    df_acts_sections.drop(columns=['section'], inplace=True)

    # write df_acts_sections to a data file
    df_acts_sections.to_csv('../data/_baked/case_law.csv',
                            header=(chunk == 1),
                            mode='a',
                            index=False)

    print(f'written_chunk: {chunk}')
    chunk += 1

print(f'total_chunks: {chunk}')

written_chunk: 1
written_chunk: 2
written_chunk: 3
written_chunk: 4
written_chunk: 5
written_chunk: 6
written_chunk: 7
written_chunk: 8
written_chunk: 9
written_chunk: 10
written_chunk: 11
written_chunk: 12
written_chunk: 13
written_chunk: 14
written_chunk: 15
written_chunk: 16
written_chunk: 17
written_chunk: 18
written_chunk: 19
written_chunk: 20
written_chunk: 21
written_chunk: 22
written_chunk: 23
written_chunk: 24
written_chunk: 25
written_chunk: 26
written_chunk: 27
written_chunk: 28
written_chunk: 29
written_chunk: 30
written_chunk: 31
written_chunk: 32
written_chunk: 33
written_chunk: 34
written_chunk: 35
written_chunk: 36
written_chunk: 37
written_chunk: 38
written_chunk: 39
written_chunk: 40
written_chunk: 41
written_chunk: 42
written_chunk: 43
written_chunk: 44
written_chunk: 45
written_chunk: 46
written_chunk: 47
written_chunk: 48
written_chunk: 49
written_chunk: 50
written_chunk: 51
written_chunk: 52
written_chunk: 53
written_chunk: 54
written_chunk: 55
written_chunk: 56
written_chunk: 57
written_chunk: 58
written_chunk: 59
written_chunk: 60
written_chunk: 61
written_chunk: 62
written_chunk: 63
written_chunk: 64
written_chunk: 65
written_chunk: 66
written_chunk: 67
written_chunk: 68
written_chunk: 69
written_chunk: 70
written_chunk: 71
written_chunk: 72
written_chunk: 73
written_chunk: 74
written_chunk: 75
written_chunk: 76
written_chunk: 77
total_chunks: 78

### Type, Disposition, Purpose Exploration

In [3]:
types_df = pd.read_csv('../data/keys/type_name_key.csv')
purposes_df = pd.read_csv('../data/keys/purpose_name_key.csv')
dispositions_df = pd.read_csv('../data/keys/disp_name_key.csv')

In [21]:
types_df.shape

(62714, 4)

In [8]:
types_df.groupby(by='type_name_s').sum().sort_values('count', ascending=False).head(50)

                         year  type_name    count
type_name_s
cc                      18126     8087.0  6120886
cri. case               18126    16135.0  3150883
c.c.                    18126     6879.0  3105428
s.c.c.                  18126    50170.0  3042465
os                      18126    42643.0  1956871
st                      18126    56008.0  1739822
rct                     18126    46788.0  1615621
criminal case           18126    17306.0  1557543
crl.misc.               18126    18978.0  1254416
complaint cases         18126    13313.0  1140676
original suit           18126    42542.0  1082908
sum                     18126    58347.0  1038370
bail application        18126     5918.0  1008676
cri.m.a.                18126    16591.0   925850
ba                      18126     5831.0   923455
o.s.                    18126    41839.0   922785
cs                      18126    19500.0   922418
r.c.c.                  18126    46165.0   916254
ep                      18126    22315.0   902106
stc                     18126    56243.0   812719
cr. reg. case           18126    15404.0   762395
r.c.s.                  18126    46233.0   723756
final report            18126    24726.0   615577
chi                     18126     8409.0   571666
crma j                  18126    19293.0   548316
sc                      18126    50765.0   542173
gr case                 18126    26270.0   539039
p.c.r.                  18126    43457.0   524221
m.v.c.                  18126    32716.0   509141
mcop                    18126    34450.0   489518
criminal misc           18126    17543.0   489480
cr. case complaint (p)  18126    15119.0   488404
complaint case          18126    13136.0   481496
ex                      18126    22668.0   474042
trf                     18126    60712.0   473596
reg. cri. case          18126    47598.0   473072
title suit              18126    59950.0   432676
sc ele                  18126    50862.0   413396
cr                      18126    14498.0   388425
mjc r                   18126    39647.0   375531
nact                    18126    41085.0   374427
crma s                  18126    19303.0   367546
cri.bail appln.         18126    16549.0   366226
exe                     18126    23222.0   361555
criminal misc.          18126    17667.0   357720
civil m.a.              18126     9259.0   342591
motor vehc act          18126    40245.0   338713
macp                    18126    32950.0   328878
motor vehicle act       18126    40270.0   327032
coma                    18126    12471.0   323040

In [20]:
types_df[types_df['type_name_s'].str.contains('motor', na=False)].sort_values('count', ascending=False)

       year  type_name                        type_name_s   count
59962  2018     4782.0                     motor vehc act  136236
52450  2017     4826.0                  motor vehicle act   91298
59964  2018     4784.0                  motor vehicle act   72492
52447  2017     4823.0                     motor vehc act   62878
44991  2016     4750.0                  motor vehicle act   48698
...     ...        ...                                ...     ...
9471   2011     4020.0                 motor vehicles act       1
16072  2012     4392.0         motor accident claim cases       1
16074  2012     4394.0  motor accident claim tribunal old       1
23078  2013     4580.0                    motor accidents       1
23074  2013     4576.0  motor accident claim tribunal old       1

[171 rows x 4 columns]

In [22]:
purposes_df.groupby(by='purpose_name_s').sum().sort_values('count', ascending=False).head(50)

                                      year  purpose_name    count
purpose_name_s
evidence                             18126       24822.0  9152327
hearing                              18126       37970.0  6513926
appearance                           18126        4043.0  6395119
order                                18126       48023.0  5789525
judgement                            18126       41925.0  4430629
argument                             18126        6932.0  4361497
summons                              18126       63652.0  3698835
issue                                18126       41650.0  2446104
appereance                           18126        6394.0  2196235
misc                                 18126       43622.0  1609892
process to accused                   18126       50910.0  1437780
appearence                           18126        5959.0  1093554
call on                              18126       14823.0  1016189
referred to lokadalat                18126       53768.0  1003246
notice                               18126       45575.0   937130
appearance of accused                18126        4887.0   855526
bail                                 18126       13838.0   780611
appearance of accussed               18126        5150.0   574595
appearance of accused/ surety        18126        5133.0   529147
not heard cases                      18126       45366.0   521508
charge                               18126       15769.0   521258
steps                                18126       62177.0   514390
appearance of defendant and w.s.     18126        5336.0   430068
written statement                    18126       67463.0   397216
first hearing                        18126       29391.0   389770
service pending                      18126       58960.0   384435
consideration                        18126       18512.0   342167
notice_unready                       18126       46487.0   329592
awaiting notice                      18126       11236.0   309152
service                              18126       58647.0   299199
objection/disposal                   18126       47469.0   286211
lok-nyayalaya                        18126       42816.0   283833
for trial                            18126       35695.0   283743
enquiry                              18126       24010.0   280691
sr/ad/appearence                     18126       60608.0   274497
unready board                        18126       65351.0   267688
w.s.                                 18126       65851.0   265019
no sitting notified                  18126       45046.0   252376
f. o.                                18126       26105.0   244556
awated for final form / chargesheet  18126       13023.0   244369
disposal                             18126       22506.0   231954
admission                            18126        2486.0   223558
process to opponent                  18126       50951.0   220090
for disposal                         18126       31946.0   215148
framing of charge or  plea           18126       36202.0   211116
compliance                           18126       17699.0   207951
reply                                18126       54544.0   204295
for hearing                          18126       33022.0   184489
report                               18126       55237.0   183132
show cause                           18126       59771.0   182965